/frontend/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
debug.log
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/backend/css/
/public/assets/frontend/css
/public/assets/frontend/js
/public/assets/backend/css
/public/assets/backend/js
/public/fonts
/public/mix-manifest.json
/public/upload
.idea/
